@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    background-color: #040424;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-family: "Pixelify Sans", sans-serif;
}

h1 {
    color: blue;
}

#nav {
    background-color: white;
    width: 80%;
    height: 50px;
    font-weight: 600;
    border-radius: 25px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 25px;  
   
}
#nav p{
    position: absolute;
    left: 20px;
    color: #7f93cf;
    font-weight: 700;
}
#centerbox p{
    width: 25%;
}
#centerbox{
    /* background-color: red; */
    height: 400px;
    width: 80%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   
}
a {
    text-decoration: none;
    color: #040424;

}
#homelink{
    color: #ffbd59;    
    text-decoration: none;

}
#thebutton{
    padding: 20px;
    border: none;
    width: 200px;
    border-radius: 20px;
    background-color: #7f93cf;
    color: white;
    font-size: 15px;
    font-family: "Pixelify Sans", sans-serif;
}